<%- include header %>

<p>
    <% if (user && (user.name == post.name)) { %>
    <span><a href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" class="edit">Edit :P</a></span>
    <span><a href="/remove/<%= post.name %>/<%= post.time.day%>/<%= post.title %>" class="edit">Delete :X</a></span>
    <% } %>

    <% var flag = 1 %>
    <% if (user && (user.name != post.name)) { %>
        <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
            <% flag = 0 %>
        <% } %>

        <% if ((post.reprint_info.reprint_to != undefined)) { %>
           <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
                <% if (user.name == reprint_to.name)  { %>
                    <% flag = 0 %>
                <% } %>
           <% }); %>
        <% } %>
    <% } eles { %>
        <% flag = 0 %>
    <% } %>
    <% if (flag) { %>
        <span><a href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" class="edit">转载</a></span>
    <% } %>>
</p>

<p class="info">
    Author: <a href="/u/<%= post.name %>"><%= post.name %></a> |
    PublishDate: <%= post.time.minute %>
    Tag:
    <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
    <a href="/tags/<%= tag %>" class="tag"><%= tag %></a>
    <% } %>
    <% }); %>
</p>
<p><%- post.post %></p>

<%- include comment %>

<%- include footer %>
