<%- include header %>

<%= title %>
<hr/>

<% posts.forEach(function (post ,index) { %>
<p>
<h2><a href="#"><%= post.title %></a></h2>
</p>
<p class="info">
    Author: <a href="#"><%= post.name %></a> |
    PublishDate: <%= post.time.minute %>
</p>
<p><%- post.post %></p>
<% }) %>

<%- include footer %>
